
.welcome {
    text-align: center; 
 
     div{
         width: 100%;
         background-color: #3f87a6;
         color: white;
         padding: 2px;
     }
 }
 
 .store {
     text-align: center; 
  
      div{
          width: 100%;
          background-color: #205d77;
          color: white;
          text-transform: uppercase;
          padding: 4px;
      }
  }